# Managed by chezmoi

[user]
    name = {{ .name | quote }}
{{ if eq .machine_type "personal" }}
    email = {{ .personal_email | quote }}
{{ end }}

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[core]
    editor = nvim
    excludesfile = ~/.config/git/ignore

{{ if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{ else if eq .chezmoi.os "linux" }}
[credential]
    helper = store
{{ end }}

{{ if eq .machine_type "office" }}
# Office identity is intentionally not stored in the core dotfiles repository.
# It is loaded from dotfiles-office.git.
[include]
    path = ~/.local/share/dotfiles-office/git/gitconfig-office
{{ end }}
