-- Managed by chezmoi

local wezterm = require("wezterm")
local config = {}

config.font = wezterm.font("JetBrainsMono Nerd Font")
config.font_size = 14.0
config.color_scheme = "Gruvbox Dark"
config.window_padding = {
  left = 8,
  right = 8,
  top = 8,
  bottom = 8,
}

{{ if eq .chezmoi.os "darwin" }}
config.native_macos_fullscreen_mode = true
config.send_composed_key_when_left_alt_is_pressed = true
{{ end }}

{{ if eq .machine_type "server" }}
config.enable_tab_bar = false
{{ else }}
config.enable_tab_bar = true
{{ end }}

return config
